body {
  font-family: 'Roboto', sans-serif;
}

header, main, footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff;
}

main {
  display: grid;
  grid-template-columns: 1fr; /* One column by default */
  grid-gap: 1rem; /* Equal gap of 1rem */
}

section {
  padding: 1rem;
  background-color: #bbb; /* White background for sections */
}

/* Media query for screens 500px and wider */
@media screen and (min-width: 500px) {
  header {
    background-color: black;
    color: white; /* Change header to black background with white text */
  }

  main {
    grid-template-columns: 1fr 1fr; /* Two equal columns */
  }
}
